$font-stack: Arial;
$primary-color: #333;
$header-color: #080;
$black: #000;
$red: #f00;

body {
  color: $primary-color;
  font-family: $font-stack;
}

h1 {
  color: $header-color;

  span {
    color: $primary-color;
  }

  + p {
    font-size: 12px;
  }
}

h2 {
  background: $red;
  color: $black;
  padding: 0;
}
